.registryimg{
	text-align:center;
	padding : 0px;
}

.eventButton{
	background-color : #ff4081;
	border-color: #ff4081;
}
.wide {
  width:100%;
  height:100%;
  height:300px;
  background-image:url('/assets/img/banner.jpg');
  background-size:cover;
  margin :10px;
  
}

.wide img {
  width:100%;
}