<div class="container">

<h3 style="text-align:center;">Miya's First Birthday</h3>

<div class="wide">
        <!-- Card Projects -->
        
    </div>
<h5 style="text-align:center;">Hello Family and Friends! 
Thank you for visiting our registry! We are so excited to welcome our little blessing into our family. 
</h5>
<br>
<hr>
<br>
    <div class="row">
        <ul class="thumbnails">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x200" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h4 class="registryimg">$100</h4>
                        <p class="registryimg">Desired :1 Received: 1</p>
                        <p align="center"><a href="#" class="btn btn-primary btn-block eventButton">View or Buy this gift</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x200" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                        <h4 class="registryimg">$100</h4>
                        <p class="registryimg">Desired :1 Received: 1</p>
                        <p align="center"><a href="#" class="btn btn-primary btn-block eventButton">View or Buy this gift</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x200" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h4 class="registryimg">$100</h4>
                        <p class="registryimg">Desired :1 Received: 1</p>
                        <p align="center"><a href="#" class="btn btn-primary btn-block eventButton">View or Buy this gift</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x200" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h4 class="registryimg">$100</h4>
                        <p class="registryimg">Desired :1 Received: 1</p>
                        <p align="center"><a href="#" class="btn btn-primary btn-block eventButton">View or Buy this gift</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x200" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h4 class="registryimg">$100</h4>
                        <p class="registryimg">Desired :1 Received: 1</p>
                        <p align="center"><a href="#" class="btn btn-primary btn-block eventButton">View or Buy this gift</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x200" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h4 class="registryimg">$100</h4>
                        <p class="registryimg">Desired :1 Received: 1</p>
                        <p align="center"><a href="#" class="btn btn-primary btn-block eventButton">View or Buy this gift</a>
                        </p>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>