<div class="container bootstrap snippet">
<div class="row">
<div class="btn-group text-center prod" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" checked> Wrapsy Products
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2"> Other Products
  </label>
</div>
</div>
    <div class="row">
        <div class="col-md-3 store-menu">
            <ul class="nav">
                <li><a><i class="fa fa-angle-right"></i>Sport</a></li>
                <li><a><i class="fa fa-angle-right"></i>Computer </a></li>
                <li><a><i class="fa fa-angle-right"></i>Education </a></li>
                <li><a><i class="fa fa-angle-right"></i>Cars </a></li>
                <li><a><i class="fa fa-angle-right"></i>Snippets </a></li>
                <li><a><i class="fa fa-angle-right"></i>Bootdey </a></li>
                <li><a><i class="fa fa-angle-right"></i>Category bla </a></li>
                <li><a><i class="fa fa-angle-right"></i>Users</a></li>
                <li><a><i class="fa fa-angle-right"></i>Category 9</a></li>
                <li><a><i class="fa fa-angle-right"></i>Category 10</a></li>
                <li><a><i class="fa fa-angle-right"></i>Category 11</a></li>
                <li><a><i class="fa fa-angle-right"></i>Category 12</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-rating text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="store-item-image">
                        <a href="#">
                            <img src="http://lorempixel.com/300/200/technics/1/" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Product one</strong></a><br>
                        <small><i class="fa fa-shopping-cart text-muted"></i>
                        <a href="#" class="text-muted">Add to cart</a></small>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-rating text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="store-item-image">
                        <a href="#">
                            <img src="http://lorempixel.com/300/200/technics/3/" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Product two</strong></a><br>
                        <small><i class="fa fa-shopping-cart text-muted"></i>
                        <a href="#" class="text-muted">Add to cart</a></small>
                    </div>
                </div>
            </div>  
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-rating text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="store-item-image">
                        <a href="#">
                            <img src="http://lorempixel.com/300/200/technics/9/" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Product</strong></a><br>
                        <small><i class="fa fa-shopping-cart text-muted"></i>
                        <a href="#" class="text-muted">Add to cart</a></small>
                    </div>
                </div>
            </div>  
            <div class="col-md-6 col-sm-6">
                <div class="store-item">
                    <div class="store-item-rating text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="store-item-image">
                        <a href="#">
                            <img src="http://lorempixel.com/300/200/technics/7/" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="store-item-info clearfix">
                        <span class="store-item-price themed-color-dark pull-right">$ 109</span>
                        <a href="#"><strong>Sunglasses</strong></a><br>
                        <small><i class="fa fa-shopping-cart text-muted"></i>
                        <a href="#" class="text-muted">Add to cart</a></small>
                    </div>
                </div>
            </div>            
	    </div>
	</div>
</div>