<script>
      new WOW().init();
</script>
<div class="home">
<div class="clearpix"></div>
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        
            <h1>We are creative</h1>        
            <h3>Get start your next awesome project</h3>
        
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        
            <h1>We are smart</h1>        
            <h3>Get start your next awesome project</h3>
             
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        
            <h1>We are amazing</h1>        
            <h3>Get start your next awesome project</h3>
        
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
  </div> 
</div>

<div class="col-xs-12 logo">
	<div class="events">
	<ul class="list-inline">
    	<li ><a class="btn btn-lg eventButton" href="login"><i class="fa fa-gift eventicon" aria-hidden="true"></i>Create registry</a></li>
    	<li><a class="btn btn-lg eventButton" href=""><i class="fa fa-search  eventicon" aria-hidden="true"></i>Find Registry</a></li>
    	<li><a class="btn btn-lg eventButton" href=""><i class="fa fa-pencil-square-o eventicon" aria-hidden="true"></i>Manage Registry</a></li>
    	<li><a class="btn btn-lg eventButton" href="products"><i class="fa fa-shopping-bag eventicon" aria-hidden="true"></i>Shop</a></li>
	</ul>
    </div>
</div>

<div class="row">
    <p class="text-center topic">How it works</p>
</div>

<div class="row text-center howitworks contain wow bounceInUp" data-wow-iteration="infinite" data-wow-duration="1500ms">
        <div class="col-md-4">
            <img src="/assets/img/create.png" class="customimage">
            <div>
                <h3>Create</h3>
                <p>Wedding? Birthday party? New home?
Create your wishlist. Choose from our wide range of products or add your own!</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/assets/img/invite.png" class="customimage">
            <div>
                <h3>Invite</h3>
                <p>Confirm your wishlist and share your wishlist link on your invitation and on social media.</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/assets/img/gift.png" class="customimage">
            <div>
                <h3>Gift</h3>
                <p>Super-duper easy for your guests. They will pick your favorite products. Win-win for everyone!
</p>
            </div>
        </div>
    </div>

    <hr>
<div class="row">
    <p class="text-center topic">Top Deals</p>
</div>

    <div class="banner-bottom">
        <div class="container"> 
            <div class="banner-bottom-grids">
                <div class="banner-bottom-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-julia">
                            <img src="/assets/img/1.jpg" alt=" " class="img-responsive" />
                            <figcaption>
                                <h3>Best <span>Store</span><i>online shopping</i></h3>
                                
                            </figcaption>           
                        </figure>
                    </div>
                </div>
                <div class="banner-bottom-grid-left1 animated wow slideInUp" data-wow-delay=".5s">
                    <div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="/assets/img/banner.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="banner-bottom-grid-left1-pos">
                            <p>Discount 45%</p>
                        </div>
                    </div>
                    <div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="/assets/img/banner.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="banner-bottom-grid-left1-pos">
                            <p>Discount 65%</p>
                        </div>
                    </div>
                    
                </div>
                <div class="banner-bottom-grid-right animated wow slideInLeft" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-julia">
                            <img src="/assets/img/1.jpg" alt=" " class="img-responsive" />
                            <figcaption>
                                <h3>Latest <span>Collections</span><i> 2016</i></h3>
                                
                            </figcaption>           
                        </figure>
                    </div>
                </div>

                
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
<hr>
<div class="row">
    <p class="text-center topic">Find Gift Ideas</p>
</div>
<br>
<div class=" contain row text-center">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/wedding/ifeoma-ifeoluwa"><img class="curvedimage" src="/assets/img/img1.jpg" style="width: 100%"></a>
                    <a style="color: #bd365b" href="/wedding/ifeoma-ifeoluwa" target="_blank"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/wedding/Mohammed-Nichole"><img class="curvedimage" src="/assets/img/img1.jpg" style="width: 100%"></a>
                    <a style="color: #bd365b" href="/wedding/Mohammed-Nichole" target="_blank"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/wedding/Bimbo-Emeka"><img class="curvedimage" src="/assets/img/img1.jpg" style="width: 100%"></a>
                    <a style="color: #bd365b" href="/wedding/Bimbo-Emeka" target="_blank"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/wedding/Bimbo-Emeka"><img class="curvedimage" src="/assets/img/img1.jpg" style="width: 100%"></a>
                    <a style="color: #bd365b" href="/wedding/Bimbo-Emeka" target="_blank"></a>
                </div>
            </div>

</div>
<p style="text-align=right;">More -></p>
<hr>

  <div class="row">
    <p class="text-center topic">Sample Registries</p>
</div>
<br>
<div class=" contain row text-center">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/wedding/ifeoma-ifeoluwa"><img class="curvedimage" src="/assets/img/img1.jpg" style="width: 100%"></a>
                    <a style="color: #bd365b" href="/wedding/ifeoma-ifeoluwa" target="_blank"><h5 class="lighter">Ifeoma &amp; Ifeoluwa</h5></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/wedding/Mohammed-Nichole"><img class="curvedimage" src="/assets/img/img1.jpg" style="width: 100%"></a>
                    <a style="color: #bd365b" href="/wedding/Mohammed-Nichole" target="_blank"><h5 class="lighter">Nichole &amp; Mohammed</h5></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/wedding/Bimbo-Emeka"><img class="curvedimage" src="/assets/img/img1.jpg" style="width: 100%"></a>
                    <a style="color: #bd365b" href="/wedding/Bimbo-Emeka" target="_blank"><h5 class="lighter">Bimbo &amp; Emeka</h5></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/wedding/Bimbo-Emeka"><img class="curvedimage" src="/assets/img/img1.jpg" style="width: 100%"></a>
                    <a style="color: #bd365b" href="/wedding/Bimbo-Emeka" target="_blank"><h5 class="lighter">Bimbo &amp; Emeka</h5></a>
                </div>
            </div>

</div>


<div class="row">
    
        <ul class="list-inline text-center">
        <li ><a class="btn btn-lg eventButton" href="create"><i class="fa fa-gift eventicon" aria-hidden="true"></i>Create registry</a></li>
        </ul>
    
</div>
   
</div>