<script>
      new WOW().init();
</script>
<div class="home">
<div class="clearpix"></div>
<div class="wide">
</div>

<div class="col-xs-12 logo">
	<div class="events">
	<ul class="list-inline">
    	<li ><a class="btn btn-lg eventButton" href="login"><i class="fa fa-gift eventicon" aria-hidden="true"></i>Create registry</a></li>
    	<li><a class="btn btn-lg eventButton" href=""><i class="fa fa-search  eventicon" aria-hidden="true"></i>Find Registry</a></li>
    	<li><a class="btn btn-lg eventButton" href=""><i class="fa fa-pencil-square-o eventicon" aria-hidden="true"></i>Manage Registry</a></li>
    	<li><a class="btn btn-lg eventButton" href=""><i class="fa fa-shopping-bag eventicon" aria-hidden="true"></i>Shop</a></li>
	</ul>
    </div>
</div>

<div class="row">
    <p class="text-center">How it works</p>
</div>

<div class="row text-center howitworks contain wow bounceInUp" data-wow-iteration="infinite" data-wow-duration="1500ms">
        <div class="col-md-4">
            <img src="/assets/img/create.png" class="customimage">
            <div>
                <h3>Create</h3>
                <p>Wedding? Birthday party? New home?
Create your wishlist. Choose from our wide range of products or add your own!</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/assets/img/invite.png" class="customimage">
            <div>
                <h3>Invite</h3>
                <p>Confirm your wishlist and share your wishlist link on your invitation and on social media.</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/assets/img/gift.png" class="customimage">
            <div>
                <h3>Cash Out</h3>
                <p>Super-duper easy for your guests. They will pick your favorite products. Win-win for everyone!
</p>
            </div>
        </div>
    </div>

    <hr>
<div class="row">
    <p class="text-center">Offers for you</p>
</div>

    <div class="banner-bottom">
        <div class="container"> 
            <div class="banner-bottom-grids">
                <div class="banner-bottom-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-julia">
                            <img src="/assets/img/1.jpg" alt=" " class="img-responsive" />
                            <figcaption>
                                <h3>Best <span>Store</span><i>online shopping</i></h3>
                                
                            </figcaption>           
                        </figure>
                    </div>
                </div>
                <div class="banner-bottom-grid-left1 animated wow slideInUp" data-wow-delay=".5s">
                    <div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="/assets/img/banner.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="banner-bottom-grid-left1-pos">
                            <p>Discount 45%</p>
                        </div>
                    </div>
                    <div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="/assets/img/banner.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="banner-bottom-grid-left1-pos">
                            <p>Discount 65%</p>
                        </div>
                    </div>
                    
                </div>
                <div class="banner-bottom-grid-right animated wow slideInLeft" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-julia">
                            <img src="/assets/img/1.jpg" alt=" " class="img-responsive" />
                            <figcaption>
                                <h3>Latest <span>Collections</span><i> 2016</i></h3>
                                
                            </figcaption>           
                        </figure>
                    </div>
                </div>

                
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
<hr>

  <div class="row">
    <p class="text-center">Offers for you</p>
</div>

<div class="featuredweddings contain row text-center">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/wedding/ifeoma-ifeoluwa"><img class="curvedimage" src="/assets/img/avatars/1.jpg" style="width: 100%"></a>
                    <a style="color: #bd365b" href="/wedding/ifeoma-ifeoluwa" target="_blank"><h3 class="lighter">Ifeoma &amp; Ifeoluwa</h3></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/wedding/Mohammed-Nichole"><img class="curvedimage" src="/assets/img/avatars/1.jpg" style="width: 100%"></a>
                    <a style="color: #bd365b" href="/wedding/Mohammed-Nichole" target="_blank"><h3 class="lighter">Nichole &amp; Mohammed</h3></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/wedding/Bimbo-Emeka"><img class="curvedimage" src="/assets/img/avatars/1.jpg" style="width: 100%"></a>
                    <a style="color: #bd365b" href="/wedding/Bimbo-Emeka" target="_blank"><h3 class="lighter">Bimbo &amp; Emeka</h3></a>
                </div>
            </div>

</div>
   
</div>